<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)

  <br>
    {{"Contoh menulis di angular"}}
  <br/>
  25+25 = {{25+25}}
  
</p>

<input [(ngModel)]="a" type="text"/> * <input [(ngModel)]="b" type="text"/>
  = {{a * b}}
  {{item.name}} = {{item.harga | currency :'Rp' }}

<div *ngFor="let fruit of listItem; let i = index">
    {{i+1}}. {{fruit.name}} - {{fruit.harga | currency : 'Rp'}}
</div>
<br><br/>
<span *ngFor="let data of arrAngka"> 
  {{data}}
</span>
<div>
  <p *ngFor="let data of arrAngka">
    {{data}}
  </p>
</div>

<p> Show this all the time </p>
<p *ngIf="show"> Show only when boolean is true </p>

<ng-template
  *ngIf="show;then ShowBlock;else NotShowBlock">
</ng-template>
<ng-template #ShowBlock>
  <p> Show only when boolean is true </p>
</ng-template>
<ng-template #NotShowBlock>
  <p> Show only when boolean is false </p>
</ng-template>

<input [(ngModel)]="user" type="text"/>
<ng-template *ngIf="user">
  <p> Halo {{user}}! </p>
</ng-template>

<button (click)="klikButton()"> Click Me! </button>
{{pesan}}